<header class="">
  <h3>
    Displaying <%= accounting.formatNumber(CarListing.listings.listingsCount) %> listings
  </h3>
</header>

<section class="listings">

</section>

<h2 id="end-of-page">
  Fetching more listings
  <img alt="ajax-loader" src="assets/ajax-loader.gif">
</h2>

<h2 id="end-of-list">END OF LIST</h2>