<div class="page">
<header class="">
	<h3><%= page_entries_info @listings %></h3>
	<nav class="page-nav">
	  <%= render partial: "page_nav_form", locals: {page_delta: -1} unless @listings.first_page? %>
    <%= render partial: "page_nav_form", locals: {page_delta: 1} unless @listings.last_page? %>
	</nav>
</header>
<%= render @listings %>
</div>