<div class="page">
  <header class="">
    <% range_end = @listings.count * @listings.current_page %>
    <h3>
      <%= "Displaying #{range_end+1 - @listings.count} - #{range_end} of
      #{number_with_delimiter(@listings.total_count, delimiter: ",")}" %>
    </h3>

    <nav class="page-nav">
      <%= render partial: "page_nav_form", locals: {page_delta: -1} unless @listings.first_page? %>
      <%= render partial: "page_nav_form", locals: {page_delta: 1} unless @listings.last_page? %>
    </nav>
  </header>

  <%= render @listings %>

  <h2 id="end-of-page">
    Fetching more listings
    <img alt="Ajax-loader" src="assets/ajax-loader.gif">
  </h2>

  <h2 id="end-of-list">END OF LIST</h2>
</div>