<div>

  <section id="sidebar">
    <form class="search">
      <%= render partial: 'search_form' %>
    </form>
  </section>

  <section id="main-content" class="clear-fix">
    <%= render partial: 'search_results' %>
  </section>

</div>


<%= render partial: 'shared/backbone_kickoff.html.erb' %>