<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Dear <%= @user.fname %>,</p>

    <p>
      We received a request to change the password for your account at Tommy's Cars. Please click <%= link_to 'here',  reset_password_url(forgot_password_token: @user.forgot_password_token) %> to set a new one.
    </p>

    <p>
      You may also copy and paste the following URL to your browser if the link doesn't work for you: <%= reset_password_url(forgot_password_token: @user.forgot_password_token) %>.
    </p>

    <p>
      If you did not request to change your password, simply disregard and delete this email. Somebody may have requested to change your password in an attempt to gain access to your account, but they won't be able to without the link in this email.
    </p>

    <p>
      Best,<br>
      TommysCars.com
    </p>

  </body>
</html>