<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Dear <%= @user.fname %>,</p>

    <p>
      Your password has been reset. Please click <%= link_to "here",  new_user_password_url(reset_password_token: @user.reset_password_token) %> to set a new one.
    </p>

    <p>
      You may also copy and paste the following URL to your browser if the link doesn't work for you: <%= new_user_password_url(reset_password_token: @user.reset_password_token) %>.
    </p>

    <p>
      Best,<br>
      TommysCars.com
    </p>

  </body>
</html>