<header>
  <h3>
    Displaying
    <%= accounting.formatNumber(CarListing.indexListings.listingsCount) %>
    listings
  </h3>
</header>

<div>
  <section class="listings">

  </section>
</div>

<h2 id="end-of-page">
  Fetching more listings
  <img alt="ajax-loader" src="assets/ajax-loader.gif">
</h2>

<h2 id="end-of-list">END OF LIST</h2>