<h1><%= user.name() %>'s Dashboard</h1>

<a href="/listings/new">Sell a car!</a>

<h2>Your listings</h2>
<section class="owned-listings"></section>


<h2>Favorited listings</h2>
<section class="favorited-listings"></section>

