<header class="page-header">
  <h1><%= user.name() %>'s Dashboard</h1>
</header>


<section id="sidebar">
  <header><h3>Links</h3></header>
  <nav>
    <ul>
      <li>
        <a href="<%= window.location.origin %>/listings/new">Sell a car!</a>
      </li>
      <li>
        <a href="<%= window.location.origin %>/users/<%= user.id %>/edit">
          Account settings
        </a>
      </li>
    </ul>
  </nav>
</section>

<section id="main-content">
  <header>
    <h3>Your active listings</h3>
  </header>
  <section class="owned-listings listings"></section>

  <header>
    <h3>Favorited listings</h3>
  </header>
  <section class="favorited-listings listings"></section>
</section>
