<header class="page-header">
  <h1><%= user.name() %>'s Dashboard</h1>
</header>


<section id="sidebar">
  <header><h3>Links</h3></header>
  <a href="<%= window.location.origin %>/listings/new">Sell a car!</a>
</section>

<section id="main-content">
  <header>
    <h3>Your listings</h3>
  </header>
  <section class="owned-listings listings"></section>

  <header>
    <h3>Favorited listings</h3>
  </header>
  <section class="favorited-listings listings"></section>
</section>
