<%= form_tag(reset_password_url) do %>

  <% if flash.now[:bad_email] %>
    <p><%= flash.now[:bad_email] %></p>
  <% end %>

  <label>Email
    <input type="email" name="email" placeholder="email">
  </label>
  <%= submit_tag "Reset password" %>
<% end %>