/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require clippy
 *= require_tree .
 */
html, body, article, div, img, a,
h1, h2, h3, h4, h5, p, dl, dt, dd,
header, section, ul, li, form, fieldset {
  margin: 0; padding: 0; border: 0;
  font: inherit;
}

body { font-family: "Open Sans", sans-serif; font-weight: 100; color: #333333; }

select {font-family: "Open Sans", sans-serif; font-weight: 100; }

h1, h2 {font-family: "Oswald"; font-weight: 100; color: #333333;}
.user-written { font-family: Courier; letter-spacing: -1px; }
h1 {letter-spacing: 1px;}
a { text-decoration: none; color: #333333; }
a:hover {text-decoration: underline;}
a:visited { color: #333333; }
ul { list-style: none; }
input[type="submit"]:hover {cursor: pointer;}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #EEEEEE;
  padding-bottom: 100px;
}

body.no-scroll {
  height: 100%;
  overflow: hidden;
}

#content {
  position: relative;
  top: 50px;
  width: 800px;
  margin: 0 auto;
}

#content > * > header.page-header {
  margin-bottom: 30px;
}

.page-header h1 {
  font-size: 30px;
}

#sidebar {
  display: block;
  float: left;
  width: 245px;
}

#main-content {
  float: right;
  width: 515px;
  margin: 0 0 0 26px;
}

.listings {
  width: 515px;
  min-height: 85px;
  float: right;
  clear: both;
  border-bottom: 1px solid #333333;
}

.listings > .spinner {
  /* Spinner while loading listings. Direct
     descendant else clashes with favoriting spinner. */
  display: block;
  margin: 30px auto 0 auto;
}

.listings .empty-msg {
  display: block;
  width: 200px;
  margin: 30px auto 0 auto;
}

#sidebar > header,
#main-content > header {
  clear: both;
  padding-top: 50px;
  border-bottom: 1px solid #333333;
}

#sidebar > header:first-child,
#main-content > header:first-child {
  padding-top: 0;
}

#sidebar > header > h3,
#main-content > header > h3 {
  margin: 0 0 0 15px;
  font-size: 19px;
}

#end-of-page, #end-of-list {
  text-align: center;
  margin: 20px auto;
  display: none;
}

dl.info {
  margin: 10px 0 0 15px;
}

dl.info > dt {
  position: relative;
  top: 38px;
  left: 10px;
  font-size: 13px;
}

dl.info > dd {
  border-bottom: 1px dotted #333333;
  text-indent: 30px;
  margin-bottom: 20px;
  font-family: Courier;
}








