body > header {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

body > header > h1 {
  display: block;
  padding: 0 0 10px 0;
  text-align: center;
  vertical-align: bottom;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: 1px;
}

body > header > h1 > img {
  width: 70px;
  height: auto;
  margin: 0 25px 0 0;
  position: relative;
  top: 7px;
}

body > header > div.signin {
  position: absolute;
  top: 5px;
  right: 0;
  text-align: right;
}

div.signin > nav.signin-links > a {
  font-family: "Oswald";
  font-weight: 100;
  color: #333333;
  font-size: 15px;
}

body > header > nav {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #333333;
  border-bottom: 7px solid #333333;
}

body > header > nav > ul {
  clear: none;
  display: inline-block;
  margin: 0 auto;
}

body > header > nav > ul > li {
  float: left;
}

body > header > nav > ul > li > a {
  display: block;
  padding: 0px 10px;
  margin: 0 50px -4px 50px;
  color: #333333;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Oswald";
}

body > header > nav > ul > li > a:hover {
  text-decoration: none;
}

span.flash {
  margin: 10px 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #333333;
}

span.flash > strong {
  margin-left: 5px;
}

span.flash.success {
  background: #47D147;
}

span.flash.alert, span.flash.failure, span.flash.error {
  background: red;
}

span.flash.notice {
  background: yellow;
}