form.signin-form {
  margin: 20px auto;
}

form.signin-form input {
  width: 100%;
  margin: 0;
  background: none;
  box-sizing: border-box;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  font-size: 18px;
}

#sign-in-remember-me {
  width: auto;
  float: left;
  margin: 5px 5px 5px 0;
}

form.signin-form .links-line {
  display: block;
  clear: both;
  margin: 5px 0;
  font-family: "Oswald";
  font-weight: 100;
  color: #333333;
}

.links-line.small {
  font-size: 16px;
}

.links-line.large {
  font-size: 24px;
}

form.signin-form .links-line :first-child {
  float: left;
}

form.signin-form .links-line :last-child {
  float: right;
}

form.signin-form input[type="submit"] {
  font-family: "Oswald";
  font-size: inherit;
  color: inherit;
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background: none;
  width: auto;
}

main#content section.signin {
  width: 300px;
  margin: 0 auto;
}

main#content section.signin h1 {
  font-size: 30px;
}