<form action="<%= user_session_url %>" class="signin-form" method="post">
  <input type="hidden" name="friendly_redirect"
                      value="<%= @friendly_redirect %>">

  <input type="email" name="user_email" value="<%= params[:user_email] %>"
   placeholder="Email">
  <br>

  <input type="password" name="user_password" placeholder="Password">
  <br>

  <input type="checkbox" name="remember_me" id="sign-in-remember-me">
  <label for="sign-in-remember-me">REMEMBER ME</label>

  <div class="links">
    <a href="<%= new_user_url %>">JOIN</a>
    <input type="submit" value="SIGN IN">
  </div>
</form>